<!DOCTYPE html>
<html>
  <head>
    <title>Seguimiento de Intervención - TallerMotoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100 font-sans">
    <main class="container mx-auto p-4 md:p-8">
      <%= yield %>
    </main>
  </body>
</html>
